.app {
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: #111;
  perspective: 800px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/quicksand-v19-latin-700.woff2") format("woff2"),
    url("/fonts/quicksand-v19-latin-700.woff") format("woff");
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 46px;
  font-weight: 700;
}

.page {
  background: #fff;
  padding-top: 65px;
  height: 100%;
  width: 100%;
}
